@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body canvas {
  width: 80%;
  height: auto;
}

body {
  display: flex;
}

.marcador {
  background-color: #0000;
  color: white;
  width: 100%;
}

#tabla-puntuaciones {
  color: black;
  font-family: "Comfortaa", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}
