*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  width: 100%;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.stage-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.stage{
  width: 100% !important;
  height: auto !important;
}

.leaderboard{
  position: absolute;
  top: 25%;
  right: 0;

  background-color: red;
}